<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>
  <appSettings>
    <add key="PauseInSeconds" value="1" />
    <add key="ErrorQntLeadingToCrash" value="10" />
    <add key="ReqwestUrl" value="https://wex.nz/api/3/ticker/$rateName$" />
    <add key="RateNames" value="btc_rur,btc_usd,btc_eur" />
    <add key="DbPath" value="c:\rates.sqlite" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Data.SQLite" publicKeyToken="db937bc2d44ff139" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.109.0" newVersion="1.0.109.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>